.cont{
     
    /* background-color: rgb(221, 221, 231); */
    height: 100vh; 
    margin-top: 35px;
    padding: 9px;
    position: relative;
    overflow: hidden;
}
 
.cont::after {
    content: "";
    top: 0;
    background-image: url(../img/contect.jpg);
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.6;
    background-size: cover;
    z-index: -1;
}

.form-box{
    padding-top: 13px;
}

.form-box input,textarea{
    width: 40vw;
    padding: 7px 6px;
    font-size: 15px;
    border: 2px solid rgb(255, 219, 140);
    border-radius: 10px;
    
}