@media screen and (max-width: 1300px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 23px;
    }

    .nav-left {
        flex-direction: column;
        text-align: center;
    }

    .content-right {
        display: none;

    }

    .home-article {
        flex-direction: column;
    }

    .home-article-img {
        text-align: center;
    }

    .from-input {
        width: 50%;
    }

    .year-box {
        top: 20px;
        left: 60vw;
        font-size: 11px;
        display: flex;
    }

    .year-box div {
        margin: 0;
        padding: 0 3px;
    }

    .home-article img {
        width: 70vw;
    }

    .form-box input,
    textarea {
        width: 60vw
    }
    .row{
        flex-direction: column;
    }
    .social{
        padding: 0;
    }
    .post-img{
        height: auto;
    }
}